LASTFM_API_KEY=*************
LASTFM_USERNAME=Ga1maz
PORT=8888
DEVICE_NAME=Almaz's iPhone
LASTFM_USER_AGENT=spotify-playing/0.1.0 (+https://github.com/Ga1maz/api-spotify)
LASTFM_ACTIVE_WINDOW_SECONDS=600
